body {
    font-family: monospace;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
}

#field {
    display: grid;
    grid-template: repeat(24, 1fr) / repeat(48, 1fr);
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid white;
    background-color: #000000;
}

#status {
    display: block;
    position: absolute;
    top: 100px;
    left: 50px; 
}

#continue {
    position: fixed;
    font-size: 60px;
    font-weight: bold;
    z-index: 1;
    width: 100%;
    line-height: 35rem;
    text-align: center;
}

.message {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.message p {
    font-weight: bold;
}

.message img {
    width: 30px;
    height: 30px;
}

#m1 {
    display: none;
}

#m2 {
    display: none;
}

#m3 {
    display: none;
}

#m4 {
    display: none;
}